*{
    padding: 0;
    margin: 0;
}
header,footer{
    background-color: #5b95d7;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}
main{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}
.blog-p{
    width: 30%;
    margin: 10px;
    border: 1px solid #f4c6c6;
    padding: 10px;
}
.blog-p img{
    max-width: 100%;
    height: auto;
}
.date{
    color: #888;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
span{
    color: red;
}